Repository NNPDF/yadism, pull requests merged in 2021-03, with the labels that each got.

#104 Mirror sql -> orm changes in banana
  benchmarks/runners/sandbox.py
  benchmarks/setup.py
  benchmarks/yadmark/benchmark/runner.py
  benchmarks/yadmark/data/db.py
  benchmarks/yadmark/data/observables.py
  benchmarks/yadmark/navigator/__init__.py
  benchmarks/yadmark/navigator/navigator.py
Labels: benchmarks

#106 Dev Tools Documentation
  docs/sphinx/source/dev-tools/benchmarks.rst
  docs/sphinx/source/dev-tools/extras.rst
  docs/sphinx/source/dev-tools/navigator.rst
  docs/sphinx/source/dev-tools/regression-tests.rst
  docs/sphinx/source/dev-tools/third-party.rst
  docs/sphinx/source/dev-tools/yadmark.rst
  docs/sphinx/source/dev-tools/yadmark_runners.rst
  docs/sphinx/source/shared/abbreviations.rst
Labels: benchmarks, documentation

#105 reduced cross section
  .gitignore
  .pylintrc
  benchmarks/runners/apfel_bench.py
  benchmarks/runners/pineappl/pineappl_default_grid.yaml
  benchmarks/runners/pineappl/pineappl_sample.yaml
  benchmarks/runners/pineappl/pineappl_sample_CT14llo_NF6_0000.yaml
  benchmarks/runners/pineappl/pineappl_sample_obs.yaml
  benchmarks/runners/pineappl/pineappl_sample_theory.yaml
  benchmarks/runners/pineappl_dump.py
  benchmarks/runners/qcdnum_bench.py
  benchmarks/runners/sandbox.py
  benchmarks/runners/xspace_bench_bench.py
  benchmarks/yadmark/benchmark/external/apfel_utils.py
  benchmarks/yadmark/benchmark/external/qcdnum_utils.py
  benchmarks/yadmark/benchmark/external/xspace_bench_utils.py
  benchmarks/yadmark/benchmark/runner.py
  benchmarks/yadmark/data/observables.py
  docs/sphinx/source/package-structure/TMC.rst
  extras/intrinsic/run.py
  src/yadism/cf_combiner.py
  src/yadism/coupling_constants.py
  src/yadism/esf/esf.py
  src/yadism/esf/esf_result.py
  src/yadism/esf/exs.py
  src/yadism/nc/kernels.py
  src/yadism/observable_name.py
  src/yadism/output.py
  src/yadism/runner.py
  src/yadism/sf.py
  src/yadism/xs.py
  tests/cc/test_cc_kernels.py
  tests/nc/test_nc_kernels.py
  tests/test_coupling_constants.py
  tests/test_esf_result.py
  tests/test_init.py
  tests/test_observable_name.py
  tests/test_output.py
  tests/test_structure_function.py
  tests/test_tmc.py
Labels: enhancement, physics, refactor
